*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 2rem auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  border-radius: 10px;
  padding: 2rem;
  background-color: crimson;
  margin: 2rem auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 8px;
}
input {
  padding: 8px;
  border: 2px solid black;
  outline: none;
  font-size: 16px;
}
button {
  border: none;
  outline: none;
  margin: 1rem 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(236, 185, 54);
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
span {
  margin: 1rem;
  color: rgb(35, 255, 35);
}
